
#calculator {
	width: 300px;
	height: auto;

	margin: 80px auto;
	padding: 50px 100px 4px;
	background: -webkit-linear-gradient(black, grey);
}

.top .screen {
	height: 100px;
	width: 300px;
	float: right;
	font-size: 60px;
	color: red;
	text-align: right;
}

.keys, .top{overflow: hidden;}
.keys span, .top span.clear{
	float: left;
	position: relative;
	top: 0;
	cursor: pointer;
	width: 66px;
	height: 35px;
	background: white;
	border-radius: 15px;
	margin: 0 7px 11px 0;
	color: red;
	text-align: center;
}

